html:first-child {
  height: 100vh;
}
.container{
  height: 100%;
  max-width: 100% !important;
}
.row {
  height: 100%;
}

.column_sideBar {
  height: 100%;
}

.dropdown_menu {
  border-bottom: 1px solid;
}